* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #333333;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
}

p {
    font-family: 'Averia Serif Libre', cursive;
    color: rgb(152, 151, 151);
    line-height: 1.5;
}
