.pledgeSection{
    min-height: 80vh;
    padding: 10vh 6% 20vh;
}

.mainSection{
    height: 100%;
}


.unShow{
    display: none;
}

.pledgeImgCon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pledgeImg{
    width: 100%;
}
.pledgeTextCon{
    position: sticky;
    top: 25px;
    height: 50%;
    margin-top: 20px
}

@media screen and (max-width: 768px) {
    .pledgeImg{
        width: 100%;
    }
}
