.pledgeSection{
    min-height: 80vh;
    padding: 10vh 6% 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pledgeSection div{
    margin-top: 10vh;
}

.unShow{
    display: none;
}

.pledgeImg{
    width: 80%;
}

@media screen and (max-width: 768px) {
    .pledgeImg{
        width: 100%;
    }
}
