/*Pledge Section*/
.pledge {
    background-color: #F3F1FE;
    padding: 9% 6%;
    box-shadow: 0 -3px 200px 10px #FF5A60;
}

.pledge h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
    color: #FF5A60;
}

.pledgeSubHead {
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    margin: 0 auto;
}

.pledgeCon {
    margin-top: 8vh;
}

.indiePledgeCon {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

article {
    /* display the contents in a column */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 100%);
    line-height: 2;
    border-radius: 10px;
    margin: 0.5rem;
    /* transition for the transform property, updated in the script */
    transition: transform 0.2s ease-out;
    box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.1);
}

article figure {
    /* limit the width and height of the figure to show the image in a circle */
    width: 85%;
    /*height: 120px;*/
    border-radius: 5%;
    /* specify negative margin matching half the height of the element */
    margin-top: -60px;
    /* position relative for the pseudo element */
    position: relative;
    border: 10px solid #F3F1FE;

}


article figure img {
    /* stretch the image to cover the size of the wrapping container */
    /*border-radius: inherit;*/
    border-radius: 5%;
    width: 100%;
    height: 100%;
    /* object fit to maintain the aspect ratio and fit the width/height */
    object-fit: cover;
}

article div {
    /* center the text in the div container */
    text-align: center;
    margin: 2rem;
}

article div p {
    font-weight: 200;
    font-size: 0.8rem;
    margin: 0.5rem 0 1.5rem;

}


article div h3 {
    /* considerably reduce the size of the heading */
    color: hsl(260, 5%, 55%);
    font-weight: 400;
    /*font-family: "Lato", sans-serif;*/
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.loadingCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    margin-top: 8vh;
}

.loadingCon p {
    color: #FF5A60;
    margin-top: 20px;
}

.CoSo {
    color: #FF5A60;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 20px;
}

.unShow {
    display: none;
}

@media screen and (max-width: 991px) {
    article figure {
        width: 70%;
    }

    article div h3 {
        font-size: 1.5rem;
    }

    article div p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 560px) {
    .pledge h2 {
        font-size: 3.5rem;
    }

    .pledgeSubHead {
        width: 90%;
        font-size: 1rem;
    }

    article div h3 {
        font-size: 1.2rem;
    }

    article div p {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 400px) {

    .pledge h2 {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    .pledgeSubHead {
        width: 100%;
        font-size: 0.9rem;
    }

    article div h3 {
        font-size: 1rem;
    }

    article div p {
        font-size: 0.8rem;
    }

}



