/*Pledge Section*/
.pledge {
    background-color: #F3F1FE;
    padding: 9% 6%;
    box-shadow: 0 -3px 200px 10px #FF5A60;
    text-align: center;

}

.pledge h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #FF5A60;
}

.pledgeSubHead {
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    margin: 0 auto;
}

.pledgeCon {
    margin-top: 8vh;
}


.loadingCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    margin-top: 8vh;
}

.loadingCon p {
    color: #FF5A60;
    margin-top: 20px;
}

.unShow {
    display: none;
}

@media screen and (max-width: 991px) {
    article figure {
        width: 70%;
    }

}

@media screen and (max-width: 560px) {
    .pledge h2 {
        font-size: 3.5rem;
    }

    .pledgeSubHead {
        width: 90%;
        font-size: 1rem;
    }

}

@media screen and (max-width: 400px) {

    .pledge h2 {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    .pledgeSubHead {
        width: 100%;
        font-size: 0.9rem;
    }

}



