.footer {
    padding: 2% 6%;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Averia Serif Libre', cursive;
}

.logo-social{
    width: 20%;
}

.logo-social img{
    width: 100%;
}

.social-icon-list {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.socialLinks{
    color: #FFF;
    font-size: 20px;
}

.user-box {
    position: relative;
    margin-top: 20px;
}

.user-box input, .user-box textarea {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    outline: none;
    background: transparent;
    margin-right: 20px;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus, .user-box textarea:focus {
    border-bottom: 1px solid #FF5A60;
    border-right: 1px solid #FF5A60;
}

.user-box input:focus ~ label, .user-box textarea:focus ~ label{
    top: -20px;
    left: 0;
    color: #FF5A60;
    font-size: 12px;
}

.upLabel{
    top: -20px !important;
    left: 0 !important;
    color: #FF5A60 !important;
    font-size: 12px !important;
}

/*.contactModel{*/
/*    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*}*/

.modelHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
    /*align-items: center;*/
}

.modelHead h3{
    /*color: #FF5A60;*/
    margin-bottom: 0;
}

.modelHead div{
    cursor: pointer;
    font-size: 20px;
}

.modelHead div:hover{
    color: #FF5A60;

}

@media screen and (max-width: 991px) {

    .footer {
        align-items: center;
    }

    .logo-social{
        width: 33%;

    }

}

@media screen and (max-width: 768px) {


    .footer {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }

    .logo-social{
        margin-top: 40px;
        width: 50%;

    }

}

@media screen and (max-width: 560px) {
    .logo-social{
        margin-top: 20px;
        width: 80%;
    }


    .contactUs{
        width: 100%;
        margin: 50px 0 80px;
    }
}

@media screen and (max-width: 400px) {

}

